<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BigFoodServicesSA.Properties.Settings.GESTIONConnectionString"
            connectionString="Data Source=DESKTOP-1G9IVI2\SQLEXPRESS;Initial Catalog=GESTION;Persist Security Info=True;User ID=userGestion;Password=ucr2020"
            providerName="System.Data.SqlClient" />
      <add connectionString="Data Source=xe; User ID=GESTION; Password=ucr2020" name="conexion" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>